<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Card de Cita -->
  <ion-card *ngFor="let cita of citas$ | async">
    <!-- Estado -->
    <div class="tag" [ngStyle]="{'background-color': getColor(cita.status)}"></div>
    <ion-card-header>
      <!-- Títullo -->
      <ion-card-title color="dark">
        {{cita.barber?.user?.name | titlecase}}
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-card-title>
      <!-- Subtítulos -->
      <ion-card-subtitle><strong>Fecha:</strong>  {{fecha(cita.assigned)}}</ion-card-subtitle>
      <ion-card-subtitle><strong>Precio sugerido:</strong>  {{cita.total_price}} COP</ion-card-subtitle>
      <ion-card-subtitle><strong>Servicios:</strong>  {{cantidadServicios(cita)}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
