<ion-content>
  <div class="cropper-container">
    <image-cropper
      [imageBase64]="imageBase64"
      [maintainAspectRatio]="true"
      [aspectRatio]="1/1"
      format="png"
      (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()"
      (imageCropped)="imageCropped($event)"
      [onlyScaleDown]="false"
      [hideResizeSquares]="false"
      [alignImage]="'center'"
    />
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar [color]="undefined">
    <ion-button size="large" fill="clear" shape="round" slot="start" (click)="cancelCrop()">
      <ion-icon
        slot="icon-only"
        size="large"
        color="danger"
        name="close-circle-outline"
      ></ion-icon>
    </ion-button>
    <ion-button size="large" fill="clear" shape="round" slot="end" (click)="saveCroppedImage()" [disabled]="!imageBase64">
      <ion-icon
        slot="icon-only"
        color="primary"
        size="large"
        name="checkmark-done-circle-outline"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>